<h1>Doses#edit</h1>
<%= render 'form',  dose: @dose, cocktaill: @dose.cocktail %>
<%= link_to 'Show', @dose.cocktail, class: "text-dark" %> |
<%= link_to 'Back', cocktail_path(@dose.cocktail), class: "text-dark" %>
